body {
  background-color: #588B8B;
  color: #FFFFFF;
  font-family: "Overlock", cursive;
  text-align: center;
}

.header-h1 {
  border: 5px double #FFD5C2;
  border-right-style: none;
  border-left-style: none;
  color:#FFD5C2;
  font-size: 60px;
  font-weight: 300;
}

.menu-principal {
  background-color: #E9967A;
  border-radius: 5px; 
  width: 60%;
  margin: auto;
}

.menu-principal ul li a {
  color: #4B0082;
  text-decoration: none;
  font-style: italic;
  font-size: 25px;
}

.menu-principal ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.menu-principal a:hover {
  color: #7B68EE;
}

h2 {
  color: #2a1fc4;
  font-size: 40px;
  animation: bg 2s infinite;
}

article {
  width: 60%;
  margin: 0 auto;
}

article p {
  font-size: 20px;
  line-height: 1,5;
}

.ada {
  width: 80%;
  box-shadow: 10px 10px 5px #ccc;
  border-radius:30px;
}

h3 {
  font-style: italic;
  font-size: 28px;
}

.titulo-infancia {
  color: chartreuse;
}

.titulo-juventude {
  color: #fa9703;
}

.titulo-adulta {
  color: #540b0e;
}

.outras {
  color: #110297;
}

.links {
  color: darkred;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 2;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.links:hover {
  color: whitesmoke;
}

.form {
  margin: auto;
  font-size: 20px;
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

button {
  background: #41f341;
  border: 2px solid darkolivegreen;
  border-radius: 5px;
  width: 100px;
  font-size: 15px;
  color: darkgreen
}

button:hover {
  background: blue;
  color: whitesmoke;
  border: 2px solid #41f341;
  border-radius: 5px;
  font-style: bold;
}

h4 {
  margin-bottom: 3px;
  color: black;
  font-style: italic;
}

.about {
  display: flex;
  align-items: center;
  flex-direction: column;
}

@keyframes bg {
	50% {
		color: #0069D9;
    color: purple;
	}
}
